Repository san-serif-sentiments/ai-glossary, changes with the owners that CODEOWNERS names for each.
All owners: @your-org/ai-glossary-maintainers, @your-org/ai-glossary-architecture, @your-org/ai-glossary-docs, @your-org/ai-glossary-platform

updated README
  README.md
Owners: @your-org/ai-glossary-maintainers

Deployed 28f139c with MkDocs version: 1.5.3
  sitemap.xml.gz
Owners: @your-org/ai-glossary-maintainers

Finalize prompt playbook and term approvals
  site/docs/prompting.md
Owners: @your-org/ai-glossary-docs

Deployed 097404f with MkDocs version: 1.5.3
  prompting/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: @your-org/ai-glossary-maintainers

Fix validate script compatibility
  scripts/validate.py
Owners: @your-org/ai-glossary-architecture

Fix internal doc links for validator
  site/docs/index.md
Owners: @your-org/ai-glossary-docs

Fix search result link markup for validation
  scripts/validate.py
  site/docs/index.md
  site/docs/search.md
Owners: @your-org/ai-glossary-architecture, @your-org/ai-glossary-docs

Replace unreachable glossary citations
  data/terms/agentic-ai.yml
  data/terms/ai-incident-response.yml
  data/terms/algorithmic-bias.yml
  data/terms/alignment.yml
  data/terms/bias-variance-tradeoff.yml
  data/terms/content-moderation.yml
  data/terms/data-minimization.yml
  data/terms/data-retention.yml
  data/terms/fairness-metrics.yml
  data/terms/guardrails.yml
  data/terms/ml-observability.yml
  data/terms/model-card.yml
  data/terms/model-governance.yml
  data/terms/privacy-impact-assessment.yml
  data/terms/privacy.yml
  data/terms/prompt-engineering.yml
  data/terms/prompt-injection.yml
  data/terms/red-teaming.yml
  data/terms/reinforcement-learning-from-human-feedback.yml
  data/terms/responsible-ai.yml
  data/terms/risk-register.yml
  data/terms/robust-prompting.yml
  data/terms/safety-classifier.yml
  data/terms/safety-evaluation.yml
  data/terms/safety-review-board.yml
  data/terms/safety-spec.yml
  data/terms/self-consistency-decoding.yml
  data/terms/self-critique-loop.yml
  data/terms/shadow-deployment.yml
  data/terms/synthetic-data.yml
  data/terms/system-prompt.yml
  data/terms/token.yml
  data/terms/tool-use.yml
  data/terms/transparency-report.yml
  data/terms/voice-cloning.yml
  scripts/validate.py
  site/docs/index.md
  site/docs/search.md
Owners: @your-org/ai-glossary-maintainers, @your-org/ai-glossary-architecture, @your-org/ai-glossary-docs

Fix homepage internal links and add contributor guidance
  AGENTS.md
  site/docs/index.md
Owners: @your-org/ai-glossary-maintainers, @your-org/ai-glossary-docs

WIP local changes before pulling
  .lychee.toml
  scripts/build_index.py
  site/mkdocs.yml
Owners: @your-org/ai-glossary-maintainers, @your-org/ai-glossary-architecture, @your-org/ai-glossary-docs

docs: fix broken external links; normalize internal links; lychee
  .lychee.toml
Owners: @your-org/ai-glossary-maintainers

docs: fix broken external links; normalizes; lychee
  .lychee.toml
Owners: @your-org/ai-glossary-maintainers

docs: fix broken external links; normalizes; lychee
  .lychee.toml
Owners: @your-org/ai-glossary-maintainers

docs: fix broken external links; normalizes; lychee
  .lychee.toml
Owners: @your-org/ai-glossary-maintainers

docs: fix broken external links; normalizes; lychee
  .lychee.toml
Owners: @your-org/ai-glossary-maintainers

docs: fix broken external links; normalizes; lychee
  .lychee.toml
Owners: @your-org/ai-glossary-maintainers

docs: fix broken external links; normalizes; lychee
  .github/workflows/validate.yml
Owners: @your-org/ai-glossary-maintainers

docs: fix broken external links; normalizes; lychee
  .github/workflows/validate.yml
Owners: @your-org/ai-glossary-maintainers

docs: fix broken external links; normalizes; lychee
  .github/workflows/validate.yml
Owners: @your-org/ai-glossary-maintainers

docs: fix broken external links; normalizes; lychee
  .github/workflows/validate.yml
Owners: @your-org/ai-glossary-maintainers

docs: fix broken external links; normalizes; lychee
  .github/workflows/validate.yml
Owners: @your-org/ai-glossary-maintainers

docs: fix broken external links; normalizes; lychee
  .github/workflows/validate.yml
Owners: @your-org/ai-glossary-maintainers

Deployed 609343e with MkDocs version: 1.5.3
  sitemap.xml.gz
Owners: @your-org/ai-glossary-maintainers

Deployed 609343e with MkDocs version: 1.5.3
  assets/glossary-search.json
  categories/index.html
  governance-dashboard/index.html
  index.html
  prompting/index.html
  roles/index.html
  search/search_index.json
  sitemap.xml.gz
  term-request/index.html
  terms/retrieval/index.html
Owners: @your-org/ai-glossary-maintainers

Deployed 1996667 with MkDocs version: 1.5.3
  data-model/index.html
  prompting/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: @your-org/ai-glossary-maintainers

fixed more liks
  site/docs/prompting.md
  site/mkdocs.yml
Owners: @your-org/ai-glossary-docs

fixed lycheeverseychee-action@v2
  .github/workflows/validate.yml
  requirements.txt
Owners: @your-org/ai-glossary-maintainers

Deployed 43fbcfe with MkDocs version: 1.5.3
  sitemap.xml.gz
Owners: @your-org/ai-glossary-maintainers

added to readme
  README.md
Owners: @your-org/ai-glossary-maintainers

CODEOWNERS:

# Default reviewers for all files
* @your-org/ai-glossary-maintainers

# Content buckets
schema/ @your-org/ai-glossary-architecture
scripts/ @your-org/ai-glossary-architecture
site/ @your-org/ai-glossary-docs
api/ @your-org/ai-glossary-platform
